{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Done</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in products %}
        <tr>
          <form method="POST" action="{{ url_for('upd_product') }}">
            <td>{{ prod.id }}</td>
            <td>{{ prod.title }}</td>
            <td>{{ prod.description }}</td>
            <td>{{ prod.done }}</td>
            <td>
              <input type="hidden" name="id" value="{{ prod.id }}">
              <button type="submit">Edit</button>
            </td>
          </form>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <form method="POST" action="{{ url_for('upd_product') }}">
    <label for="id">ID del producto:</label>
    <input type="text" name="id" id="id"><br>
    <label for="title">Nombre del producto:</label>
    <input type="text" name="title" id="title"><br>
    <label for="description">Descripción:</label>
    <input type="text" name="description" id="description"><br>
    <label for="done">Terminado:</label>
    <input type="text" name="done" id="done"><br>
    <button type="submit">Guardar cambios</button>
  </form>
{% endblock %}
