{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>done</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in products %}
        <tr>
          <td>{{ prod.id }}</td>
          <td>{{ prod.title }}</td>
          <td>{{ prod.description }}</td>
          <td>{{ prod.done }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="POST">
    <label for="fname">ID selecionado:</label><br>
    <input type="text" id="fname" name="id"><br>
    <label for="fname">Nombre del producto:</label><br>
    <input type="text" id="fname" name="title"><br>
    <label for="lname">Descripcion del producto:</label><br>
    <input type="text" id="lname" name="description"><br>
    <label for="lname">Terminada la tarea:</label><br>
    <input type="text" id="lname" name="done"><br>
    <!-- <input type="radio" id="html" name="done" value="True">
    <label for="html">Terminado</label><br>
    <input type="radio" id="css" name="done" value="False">
    <label for="css">No terminado</label><br><br> -->
    <button type="submit">Submit</button>
</form>
{% endblock %}
